*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.main_box{
    background: url(photo.jpg);
    height: 100vh;
    background-size: cover;
}
.btn_one{
    color: white;
    font-size: 30px;
    font-weight: 700;
    position: absolute;
    left: 16px;
    line-height: 60px;
    cursor: pointer;
    transition: all 0.3s linear;
}
.sidebar_menu{
    position: fixed;
    left: -300px;
    height: 100vh;
    width: 300px;
    background-color: rgb(255, 255, 255, 0.1);
    box-shadow: 0 0 6px rgb(255, 255, 255, 0.5);
    transition: all 0.3s linear;
}
.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0 0 4px rgb(255, 255, 255, 0.5);
    height: 60px;
}
.sidebar_menu .logo a{
    position: absolute;
    left: 50px;
    color: white;
    text-decoration: none;
    font-size: 30px;
    font-weight: 900;
}
.sidebar_menu .btn_two i{
    color: gray;
    font: 25px;
    line-height: 60px;
    position: absolute;
    left: 275px;
    opacity: 0;
    cursor: pointer;
    transition: all 0.3s linear;
}
.sidebar_menu .menu{
    position: absolute;
    width: 100%;
    top: 80px;
}
.sidebar_menu .menu li{
    margin-top: 6px;
    padding: 14px 20px;
}
.sidebar_menu .menu i, a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.sidebar_menu .menu i{
    padding-right: 8px;
}
.sidebar_menu .social_media{
    position: absolute;
    left: 25%;
    bottom: 50px;
}
.sidebar_menu .social_media i{
    color: white;
    opacity: 0.5;
    padding: 0 5px;
}
#check{
    display: none;
}

.sidebar_menu .menu li:hover{
    box-shadow: 0 0 4px rgb(255, 255, 255, 0.5);
}
.btn_one i:hover{
    font-size: 40px;
}
.btn_two i:hover{
    font-size: 30px;
}
.sidebar_menu .social_media i:hover{
    opacity: 1;
    transform: scale(1.1);
}
#check:checked ~ .sidebar_menu{
    z-index: 2;
    left: 0;
}
#check:checked ~ .btn_one i{
    opacity: 0;
}
#check:checked ~ .sidebar_menu .btn_two i{
    opacity: 1;
}
#check:checked ~ .card{
    opacity: 1;
}
#check:checked ~ .card .muqtadir{
    position: relative;
    left: 260px;
    z-index: 4;
    opacity: 0.85;
    border: none;
}
#check:checked ~ .card .muazim{
    position: relative;
    left: 410px;
    z-index: 5;
    opacity: 0.99;
}
#check:checked ~ .card .shoaib{
    opacity: 0.65;
    border: none;
}        
.shoaib{
    z-index: 1;
}
.muazim{
    z-index: 5;
}
.muqtadir{
    z-index: 4;
}
.card{
    display: inline-block;
}
.muazim, .muqtadir, .shoaib{
    height: 390px;
    width: 220px;
    display: inline-block;
    border: 1px solid white;
    margin: 15px;
    border-radius: 10px;
    /* box-shadow: 0 0 20px white; */
    transition: 0.3s linear;
    position: relative;
    left: 130px;
    top: 130px;
    opacity: 0.65;
    background-color: white;
  }
  img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .desc{
    text-align: center;
   
  }

  .muazim:hover{
    box-shadow: 0 0 1000px white;
    opacity: 1;
    transition: 0.2s;
  }
  .muqtadir:hover{
    box-shadow: 0 0 1000px white;
    opacity: 1;
    transition: 0.2s;
  }
  .shoaib:hover{
    box-shadow: 0 0 100px white;
    opacity: 1;
    transition: 0.2s;
  }